In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, upper, avg


spark = SparkSession.builder.appName("ExercicioSpark").getOrCreate()

df = spark.read.csv("./utilizaveis/dados.csv", header=True, inferSchema=True)

print("ðŸ”¹ Primeiras 5 linhas do DataFrame:")
df.show(5)


df.createOrReplaceTempView("tabela_pessoas")

cidade_especifica = "SÃ£o Paulo"

consulta_cidade = f"""
    SELECT * FROM tabela_pessoas WHERE cidade = '{cidade_especifica}'
"""
pessoas_na_cidade = spark.sql(consulta_cidade)
print(f"ðŸ”¹ Pessoas que moram na cidade '{cidade_especifica}':")
pessoas_na_cidade.show()

consulta_soma_idades = """
    SELECT SUM(idade) AS soma_das_idades FROM tabela_pessoas
"""
soma_idades = spark.sql(consulta_soma_idades)
print("ðŸ”¹ Soma das idades:")
soma_idades.show()

ðŸ”¹ Primeiras 5 linhas do DataFrame:
+--------------+-----+--------------+
|          nome|idade|        cidade|
+--------------+-----+--------------+
|   Alice Souza|   28|      Curitiba|
|    Bruno Lima|   34|      Salvador|
|  Carla Mendes|   22|        Recife|
|  Daniel Rocha|   40|Belo Horizonte|
|Eduarda Castro|   25|  Porto Alegre|
+--------------+-----+--------------+
only showing top 5 rows

ðŸ”¹ Pessoas que moram na cidade 'SÃ£o Paulo':
+--------------+-----+---------+
|          nome|idade|   cidade|
+--------------+-----+---------+
|Isabela Torres|   30|SÃ£o Paulo|
+--------------+-----+---------+

ðŸ”¹ Soma das idades:
+---------------+
|soma_das_idades|
+---------------+
|            444|
+---------------+